name: Boka CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Java 25
        uses: actions/setup-java@v5.2.0
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'

      - name: Build and test
        run: ./mvnw clean verify -B

      - name: Run Spotless
        run: ./mvnw spotless:check -B